section {
    width: 40%;
    margin: 0 auto;
    padding-top: 15%;
    text-align: center;

}
nav i{
    padding: 5px;
}
nav i:nth-of-type(1){
    color: blue;
    font-size: 2rem;
}

nav i:nth-of-type(2){
    color: palevioletred;
    font-size: 2rem;
}

nav i:nth-of-type(3){
    color: #CD201F;
    font-size: 2rem;
}

nav i:nth-of-type(4){
    color: #0077B5;
    font-size: 2rem;
}

nav i:nth-of-type(5){
    color: #25D366;
    font-size: 2rem;
}

nav .fa-whatsapp{
    color: orange;
    font-size: 2rem;
    /* nur eine klasse ansprechen*/
}

nav .fa-whatsapp:hover{
    transform: scale(2);
}